knowage-api/src/main/resources/SecurityService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://security.services.spagobi.eng.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://security.services.spagobi.eng.it/" name="SecurityService">
<types>
<xsd:schema>
<xsd:import namespace="http://security.services.spagobi.eng.it/" schemaLocation="http://localhost:8080/knowage/services/SecurityService?xsd=1"/>
</xsd:schema>
</types>
<message name="isAuthorized">
<part name="parameters" element="tns:isAuthorized"/>
</message>
<message name="isAuthorizedResponse">
<part name="parameters" element="tns:isAuthorizedResponse"/>
</message>
<message name="getUserProfile">
<part name="parameters" element="tns:getUserProfile"/>
</message>
<message name="getUserProfileResponse">
<part name="parameters" element="tns:getUserProfileResponse"/>
</message>
<message name="checkAuthorization">
<part name="parameters" element="tns:checkAuthorization"/>
</message>
<message name="checkAuthorizationResponse">
<part name="parameters" element="tns:checkAuthorizationResponse"/>
</message>
<portType name="SecurityServiceService">
<operation name="isAuthorized">
<input wsam:Action="http://security.services.spagobi.eng.it/SecurityServiceService/isAuthorizedRequest" message="tns:isAuthorized"/>
<output wsam:Action="http://security.services.spagobi.eng.it/SecurityServiceService/isAuthorizedResponse" message="tns:isAuthorizedResponse"/>
</operation>
<operation name="getUserProfile">
<input wsam:Action="http://security.services.spagobi.eng.it/SecurityServiceService/getUserProfileRequest" message="tns:getUserProfile"/>
<output wsam:Action="http://security.services.spagobi.eng.it/SecurityServiceService/getUserProfileResponse" message="tns:getUserProfileResponse"/>
</operation>
<operation name="checkAuthorization">
<input wsam:Action="http://security.services.spagobi.eng.it/SecurityServiceService/checkAuthorizationRequest" message="tns:checkAuthorization"/>
<output wsam:Action="http://security.services.spagobi.eng.it/SecurityServiceService/checkAuthorizationResponse" message="tns:checkAuthorizationResponse"/>
</operation>
</portType>
<binding name="SecurityServicePortBinding" type="tns:SecurityServiceService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="isAuthorized">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserProfile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkAuthorization">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SecurityService">
<port name="SecurityServicePort" binding="tns:SecurityServicePortBinding">
<soap:address location="http://localhost:8080/knowage/services/SecurityService"/>
</port>
</service>
</definitions>