athena_new/wsdl/execute.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:spagobiexecute" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:spagobiexecute" xmlns:intf="urn:spagobiexecute" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="executeChartResponse">

      <wsdl:part name="executeChartReturn" type="soapenc:base64Binary"/>

   </wsdl:message>

   <wsdl:message name="getKpiValueXMLResponse">

      <wsdl:part name="getKpiValueXMLReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getKpiValueXMLRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

      <wsdl:part name="in2" type="soapenc:int"/>

   </wsdl:message>

   <wsdl:message name="executeChartRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

      <wsdl:part name="in2" type="soapenc:string"/>

      <wsdl:part name="in3" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:portType name="DocumentExecuteService">

      <wsdl:operation name="executeChart" parameterOrder="in0 in1 in2 in3">

         <wsdl:input message="impl:executeChartRequest" name="executeChartRequest"/>

         <wsdl:output message="impl:executeChartResponse" name="executeChartResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getKpiValueXML" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:getKpiValueXMLRequest" name="getKpiValueXMLRequest"/>

         <wsdl:output message="impl:getKpiValueXMLResponse" name="getKpiValueXMLResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DocumentExecuteServiceSoapBinding" type="impl:DocumentExecuteService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="executeChart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="executeChartRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobiexecute" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="executeChartResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobiexecute" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getKpiValueXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getKpiValueXMLRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobiexecute" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getKpiValueXMLResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobiexecute" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DocumentExecuteServiceService">

      <wsdl:port binding="impl:DocumentExecuteServiceSoapBinding" name="DocumentExecuteService">

         <wsdlsoap:address location="http://localhost:8080/SpagoBI/services/DocumentExecuteService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
