athena_new/wsdl/sdkImportExport.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:spagobisdkimportexport" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:spagobisdkimportexport" xmlns:intf="urn:spagobisdkimportexport" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://bo.importexport.sdk.spagobi.eng.it" xmlns:tns3="http://exceptions.sdk.spagobi.eng.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://bo.importexport.sdk.spagobi.eng.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://exceptions.sdk.spagobi.eng.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="SDKFile">
    <sequence>
     <element name="content" nillable="true" type="apachesoap:DataHandler"/>
     <element name="fileName" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://exceptions.sdk.spagobi.eng.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bo.importexport.sdk.spagobi.eng.it"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="NotAllowedOperationException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="importDocumentsResponse">

      <wsdl:part name="importDocumentsReturn" type="tns2:SDKFile"/>

   </wsdl:message>

   <wsdl:message name="importDocumentsRequest">

      <wsdl:part name="in0" type="tns2:SDKFile"/>

      <wsdl:part name="in1" type="tns2:SDKFile"/>

      <wsdl:part name="in2" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="NotAllowedOperationException">

      <wsdl:part name="fault" type="tns3:NotAllowedOperationException"/>

   </wsdl:message>

   <wsdl:portType name="ImportExportSDKService">

      <wsdl:operation name="importDocuments" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:importDocumentsRequest" name="importDocumentsRequest"/>

         <wsdl:output message="impl:importDocumentsResponse" name="importDocumentsResponse"/>

         <wsdl:fault message="impl:NotAllowedOperationException" name="NotAllowedOperationException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ImportExportSDKServiceSoapBinding" type="impl:ImportExportSDKService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="importDocuments">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="importDocumentsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkimportexport" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="importDocumentsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkimportexport" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="NotAllowedOperationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NotAllowedOperationException" namespace="urn:spagobisdkimportexport" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ImportExportSDKServiceService">

      <wsdl:port binding="impl:ImportExportSDKServiceSoapBinding" name="ImportExportSDKService">

         <wsdlsoap:address location="http://localhost:8080/SpagoBI/sdk/ImportExportSDKService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
