wsdl/sdkDataSets.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:spagobisdkdatasets" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:spagobisdkdatasets" xmlns:intf="urn:spagobisdkdatasets" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://bo.datasets.sdk.spagobi.eng.it" xmlns:tns3="http://exceptions.sdk.spagobi.eng.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="urn:spagobisdkdatasets" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://exceptions.sdk.spagobi.eng.it"/>
   <import namespace="http://bo.datasets.sdk.spagobi.eng.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_SDKDataSetParameter">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:SDKDataSetParameter[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_SDKDataSet">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:SDKDataSet[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_SDKDataStoreFieldMetadata">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:SDKDataStoreFieldMetadata[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://bo.datasets.sdk.spagobi.eng.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://exceptions.sdk.spagobi.eng.it"/>
   <import namespace="urn:spagobisdkdatasets"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="SDKDataSetParameter">
    <sequence>
     <element name="name" nillable="true" type="soapenc:string"/>
     <element name="type" nillable="true" type="soapenc:string"/>
     <element name="values" nillable="true" type="impl:ArrayOf_soapenc_string"/>
    </sequence>
   </complexType>
   <complexType name="SDKDataSet">
    <sequence>
     <element name="description" nillable="true" type="soapenc:string"/>
     <element name="fileName" nillable="true" type="soapenc:string"/>
     <element name="id" nillable="true" type="soapenc:int"/>
     <element name="javaClassName" nillable="true" type="soapenc:string"/>
     <element name="jdbcDataSourceId" nillable="true" type="soapenc:int"/>
     <element name="jdbcQuery" nillable="true" type="soapenc:string"/>
     <element name="label" nillable="true" type="soapenc:string"/>
     <element name="name" nillable="true" type="soapenc:string"/>
     <element name="numberingRows" nillable="true" type="soapenc:boolean"/>
     <element name="_public" nillable="true" type="soapenc:boolean"/>
     <element name="parameters" nillable="true" type="impl:ArrayOf_tns2_SDKDataSetParameter"/>
     <element name="pivotColumnName" nillable="true" type="soapenc:string"/>
     <element name="pivotColumnValue" nillable="true" type="soapenc:string"/>
     <element name="pivotRowName" nillable="true" type="soapenc:string"/>
     <element name="scriptLanguage" nillable="true" type="soapenc:string"/>
     <element name="scriptText" nillable="true" type="soapenc:string"/>
     <element name="type" nillable="true" type="soapenc:string"/>
     <element name="transformer" nillable="true" type="soapenc:string"/>
     <element name="category" nillable="true" type="soapenc:string"/>
     <element name="organization" nillable="true" type="soapenc:string"/>
     <element name="jsonQuery" nillable="true" type="soapenc:string"/>
     <element name="datamarts" nillable="true" type="soapenc:string"/>
     <element name="webServiceAddress" nillable="true" type="soapenc:string"/>
     <element name="webServiceOperation" nillable="true" type="soapenc:string"/>
     <element name="customData" nillable="true" type="soapenc:string"/>     
    </sequence>
   </complexType>
   <complexType name="SDKDataStoreFieldMetadata">
    <sequence>
     <element name="className" nillable="true" type="soapenc:string"/>
     <element name="name" nillable="true" type="soapenc:string"/>
     <element name="properties" nillable="true" type="apachesoap:Map"/>
    </sequence>
   </complexType>
   <complexType name="SDKDataStoreMetadata">
    <sequence>
     <element name="fieldsMetadata" nillable="true" type="impl:ArrayOf_tns2_SDKDataStoreFieldMetadata"/>
     <element name="properties" nillable="true" type="apachesoap:Map"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://exceptions.sdk.spagobi.eng.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="urn:spagobisdkdatasets"/>
   <import namespace="http://bo.datasets.sdk.spagobi.eng.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="NotAllowedOperationException">
    <sequence/>
   </complexType>
   <complexType name="MissingParameterValue">
    <sequence>
     <element name="parameterName" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="InvalidParameterValue">
    <sequence>
     <element name="parameterFormat" nillable="true" type="soapenc:string"/>
     <element name="parameterName" nillable="true" type="soapenc:string"/>
     <element name="parameterType" nillable="true" type="soapenc:string"/>
     <element name="wrongParameterValue" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exceptions.sdk.spagobi.eng.it"/>
   <import namespace="urn:spagobisdkdatasets"/>
   <import namespace="http://bo.datasets.sdk.spagobi.eng.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDataSetRequest">

      <wsdl:part name="in0" type="soapenc:int"/>

   </wsdl:message>

   <wsdl:message name="InvalidParameterValue">

      <wsdl:part name="fault" type="tns3:InvalidParameterValue"/>

   </wsdl:message>

   <wsdl:message name="getDataStoreMetadataResponse">

      <wsdl:part name="getDataStoreMetadataReturn" type="tns2:SDKDataStoreMetadata"/>

   </wsdl:message>

   <wsdl:message name="saveDatasetRequest">

      <wsdl:part name="in0" type="tns2:SDKDataSet"/>

   </wsdl:message>

   <wsdl:message name="executeDataSetRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="impl:ArrayOf_tns2_SDKDataSetParameter"/>

   </wsdl:message>

   <wsdl:message name="getDataSetsResponse">

      <wsdl:part name="getDataSetsReturn" type="impl:ArrayOf_tns2_SDKDataSet"/>

   </wsdl:message>

   <wsdl:message name="getDataSetsRequest">

   </wsdl:message>

   <wsdl:message name="getDataStoreMetadataRequest">

      <wsdl:part name="in0" type="tns2:SDKDataSet"/>

   </wsdl:message>

   <wsdl:message name="saveDatasetResponse">

      <wsdl:part name="saveDatasetReturn" type="soapenc:int"/>

   </wsdl:message>

   <wsdl:message name="MissingParameterValue">

      <wsdl:part name="fault" type="tns3:MissingParameterValue"/>

   </wsdl:message>

   <wsdl:message name="getDataSetResponse">

      <wsdl:part name="getDataSetReturn" type="tns2:SDKDataSet"/>

   </wsdl:message>

   <wsdl:message name="executeDataSetResponse">

      <wsdl:part name="executeDataSetReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="NotAllowedOperationException">

      <wsdl:part name="fault" type="tns3:NotAllowedOperationException"/>

   </wsdl:message>

   <wsdl:portType name="DataSetsSDKService">

      <wsdl:operation name="getDataSets">

         <wsdl:input message="impl:getDataSetsRequest" name="getDataSetsRequest"/>

         <wsdl:output message="impl:getDataSetsResponse" name="getDataSetsResponse"/>

         <wsdl:fault message="impl:NotAllowedOperationException" name="NotAllowedOperationException"/>

      </wsdl:operation>

      <wsdl:operation name="getDataSet" parameterOrder="in0">

         <wsdl:input message="impl:getDataSetRequest" name="getDataSetRequest"/>

         <wsdl:output message="impl:getDataSetResponse" name="getDataSetResponse"/>

         <wsdl:fault message="impl:NotAllowedOperationException" name="NotAllowedOperationException"/>

      </wsdl:operation>

      <wsdl:operation name="getDataStoreMetadata" parameterOrder="in0">

         <wsdl:input message="impl:getDataStoreMetadataRequest" name="getDataStoreMetadataRequest"/>

         <wsdl:output message="impl:getDataStoreMetadataResponse" name="getDataStoreMetadataResponse"/>

         <wsdl:fault message="impl:InvalidParameterValue" name="InvalidParameterValue"/>

         <wsdl:fault message="impl:MissingParameterValue" name="MissingParameterValue"/>

         <wsdl:fault message="impl:NotAllowedOperationException" name="NotAllowedOperationException"/>

      </wsdl:operation>

      <wsdl:operation name="saveDataset" parameterOrder="in0">

         <wsdl:input message="impl:saveDatasetRequest" name="saveDatasetRequest"/>

         <wsdl:output message="impl:saveDatasetResponse" name="saveDatasetResponse"/>

         <wsdl:fault message="impl:NotAllowedOperationException" name="NotAllowedOperationException"/>

      </wsdl:operation>

      <wsdl:operation name="executeDataSet" parameterOrder="in0 in1">

         <wsdl:input message="impl:executeDataSetRequest" name="executeDataSetRequest"/>

         <wsdl:output message="impl:executeDataSetResponse" name="executeDataSetResponse"/>

         <wsdl:fault message="impl:NotAllowedOperationException" name="NotAllowedOperationException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DataSetsSDKServiceSoapBinding" type="impl:DataSetsSDKService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getDataSets">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataSetsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkdatasets" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataSetsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkdatasets" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="NotAllowedOperationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NotAllowedOperationException" namespace="urn:spagobisdkdatasets" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getDataSet">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataSetRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkdatasets" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataSetResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkdatasets" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="NotAllowedOperationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NotAllowedOperationException" namespace="urn:spagobisdkdatasets" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getDataStoreMetadata">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataStoreMetadataRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkdatasets" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDataStoreMetadataResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkdatasets" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="InvalidParameterValue">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterValue" namespace="urn:spagobisdkdatasets" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="MissingParameterValue">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="MissingParameterValue" namespace="urn:spagobisdkdatasets" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NotAllowedOperationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NotAllowedOperationException" namespace="urn:spagobisdkdatasets" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="saveDataset">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveDatasetRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkdatasets" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="saveDatasetResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkdatasets" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="NotAllowedOperationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NotAllowedOperationException" namespace="urn:spagobisdkdatasets" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="executeDataSet">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="executeDataSetRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkdatasets" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="executeDataSetResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkdatasets" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="NotAllowedOperationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NotAllowedOperationException" namespace="urn:spagobisdkdatasets" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DataSetsSDKServiceService">

      <wsdl:port binding="impl:DataSetsSDKServiceSoapBinding" name="DataSetsSDKService">

         <wsdlsoap:address location="http://localhost:8080/SpagoBI/sdk/DataSetsSDKService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
