wsdl/security.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:spagobisecurity" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:spagobisecurity" xmlns:intf="urn:spagobisecurity" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://bo.security.services.spagobi.eng.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bo.security.services.spagobi.eng.it"/>
   <import namespace="urn:spagobisecurity"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="urn:spagobisecurity" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bo.security.services.spagobi.eng.it"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://bo.security.services.spagobi.eng.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="urn:spagobisecurity"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="SpagoBIUserProfile">
    <sequence>
     <element name="attributes" nillable="true" type="apachesoap:Map"/>
     <element name="functions" nillable="true" type="impl:ArrayOf_soapenc_string"/>
     <element name="roles" nillable="true" type="impl:ArrayOf_soapenc_string"/>
     <element name="userId" nillable="true" type="soapenc:string"/>
     <element name="uniqueIdentifier" nillable="true" type="soapenc:string"/>
     <element name="userName" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="isAuthorizedResponse">

      <wsdl:part name="isAuthorizedReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="isAuthorizedRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

      <wsdl:part name="in2" type="soapenc:string"/>

      <wsdl:part name="in3" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="checkAuthorizationRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

      <wsdl:part name="in2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="checkAuthorizationResponse">

      <wsdl:part name="checkAuthorizationReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="getUserProfileRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getUserProfileResponse">

      <wsdl:part name="getUserProfileReturn" type="tns2:SpagoBIUserProfile"/>

   </wsdl:message>

   <wsdl:portType name="SecurityService">

      <wsdl:operation name="getUserProfile" parameterOrder="in0 in1">

         <wsdl:input message="impl:getUserProfileRequest" name="getUserProfileRequest"/>

         <wsdl:output message="impl:getUserProfileResponse" name="getUserProfileResponse"/>

      </wsdl:operation>

      <wsdl:operation name="isAuthorized" parameterOrder="in0 in1 in2 in3">

         <wsdl:input message="impl:isAuthorizedRequest" name="isAuthorizedRequest"/>

         <wsdl:output message="impl:isAuthorizedResponse" name="isAuthorizedResponse"/>

      </wsdl:operation>

      <wsdl:operation name="checkAuthorization" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:checkAuthorizationRequest" name="checkAuthorizationRequest"/>

         <wsdl:output message="impl:checkAuthorizationResponse" name="checkAuthorizationResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SecurityServiceSoapBinding" type="impl:SecurityService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUserProfile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserProfileRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisecurity" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserProfileResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisecurity" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isAuthorized">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isAuthorizedRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisecurity" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="isAuthorizedResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisecurity" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkAuthorization">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkAuthorizationRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisecurity" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="checkAuthorizationResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisecurity" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SecurityServiceService">

      <wsdl:port binding="impl:SecurityServiceSoapBinding" name="SecurityService">

         <wsdlsoap:address location="http://localhost:8080/SpagoBI/services/SecurityService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
