knowage/wsdl/sdkBehavioural.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:spagobisdkbehavioural" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:spagobisdkbehavioural" xmlns:intf="urn:spagobisdkbehavioural" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://bo.behavioural.sdk.spagobi.eng.it" xmlns:tns3="http://exceptions.sdk.spagobi.eng.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://bo.behavioural.sdk.spagobi.eng.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:spagobisdkbehavioural"/>
   <import namespace="http://exceptions.sdk.spagobi.eng.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="SDKAttribute">
    <sequence>
     <element name="description" nillable="true" type="soapenc:string"/>
     <element name="id" nillable="true" type="soapenc:int"/>
     <element name="name" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="SDKRole">
    <sequence>
     <element name="code" nillable="true" type="soapenc:string"/>
     <element name="descr" nillable="true" type="soapenc:string"/>
     <element name="extRoleId" nillable="true" type="soapenc:int"/>
     <element name="name" nillable="true" type="soapenc:string"/>
     <element name="organization" nillable="true" type="soapenc:string"/>
     <element name="roleTypeCd" nillable="true" type="soapenc:string"/>
     <element name="roleTypeId" nillable="true" type="soapenc:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="urn:spagobisdkbehavioural" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bo.behavioural.sdk.spagobi.eng.it"/>
   <import namespace="http://exceptions.sdk.spagobi.eng.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns2_SDKAttribute">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:SDKAttribute[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_SDKRole">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:SDKRole[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://exceptions.sdk.spagobi.eng.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:spagobisdkbehavioural"/>
   <import namespace="http://bo.behavioural.sdk.spagobi.eng.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="NotAllowedOperationException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getRolesByUserIdRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="NotAllowedOperationException">

      <wsdl:part name="fault" type="tns3:NotAllowedOperationException"/>

   </wsdl:message>

   <wsdl:message name="getRolesRequest">

   </wsdl:message>

   <wsdl:message name="getAllAttributesResponse">

      <wsdl:part name="getAllAttributesReturn" type="impl:ArrayOf_tns2_SDKAttribute"/>

   </wsdl:message>

   <wsdl:message name="getAllAttributesRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getRolesByUserIdResponse">

      <wsdl:part name="getRolesByUserIdReturn" type="impl:ArrayOf_tns2_SDKRole"/>

   </wsdl:message>

   <wsdl:message name="getRolesResponse">

      <wsdl:part name="getRolesReturn" type="impl:ArrayOf_tns2_SDKRole"/>

   </wsdl:message>

   <wsdl:portType name="BehaviouralService">

      <wsdl:operation name="getAllAttributes" parameterOrder="in0">

         <wsdl:input message="impl:getAllAttributesRequest" name="getAllAttributesRequest"/>

         <wsdl:output message="impl:getAllAttributesResponse" name="getAllAttributesResponse"/>

         <wsdl:fault message="impl:NotAllowedOperationException" name="NotAllowedOperationException"/>

      </wsdl:operation>

      <wsdl:operation name="getRoles">

         <wsdl:input message="impl:getRolesRequest" name="getRolesRequest"/>

         <wsdl:output message="impl:getRolesResponse" name="getRolesResponse"/>

         <wsdl:fault message="impl:NotAllowedOperationException" name="NotAllowedOperationException"/>

      </wsdl:operation>

      <wsdl:operation name="getRolesByUserId" parameterOrder="in0">

         <wsdl:input message="impl:getRolesByUserIdRequest" name="getRolesByUserIdRequest"/>

         <wsdl:output message="impl:getRolesByUserIdResponse" name="getRolesByUserIdResponse"/>

         <wsdl:fault message="impl:NotAllowedOperationException" name="NotAllowedOperationException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BehaviouralServiceSoapBinding" type="impl:BehaviouralService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAllAttributes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllAttributesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkbehavioural" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllAttributesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkbehavioural" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="NotAllowedOperationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NotAllowedOperationException" namespace="urn:spagobisdkbehavioural" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getRoles">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRolesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkbehavioural" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getRolesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkbehavioural" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="NotAllowedOperationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NotAllowedOperationException" namespace="urn:spagobisdkbehavioural" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getRolesByUserId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRolesByUserIdRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkbehavioural" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getRolesByUserIdResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkbehavioural" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="NotAllowedOperationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NotAllowedOperationException" namespace="urn:spagobisdkbehavioural" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BehaviouralServiceService">

      <wsdl:port binding="impl:BehaviouralServiceSoapBinding" name="BehaviouralService">

         <wsdlsoap:address location="http://localhost:8181/SpagoBI/sdk/BehaviouralService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
