knowage/wsdl/sdkMaps.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:spagobisdkmaps" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:spagobisdkmaps" xmlns:intf="urn:spagobisdkmaps" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://bo.maps.sdk.spagobi.eng.it" xmlns:tns3="http://exceptions.sdk.spagobi.eng.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://bo.maps.sdk.spagobi.eng.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:spagobisdkmaps"/>
   <import namespace="http://exceptions.sdk.spagobi.eng.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="SDKFeature">
    <sequence>
     <element name="descr" nillable="true" type="soapenc:string"/>
     <element name="featureId" nillable="true" type="soapenc:int"/>
     <element name="name" nillable="true" type="soapenc:string"/>
     <element name="svgGroup" nillable="true" type="soapenc:string"/>
     <element name="type" nillable="true" type="soapenc:string"/>
     <element name="visibleFlag" nillable="true" type="soapenc:boolean"/>
    </sequence>
   </complexType>
   <complexType name="SDKMap">
    <sequence>
     <element name="binId" nillable="true" type="soapenc:int"/>
     <element name="descr" nillable="true" type="soapenc:string"/>
     <element name="format" nillable="true" type="soapenc:string"/>
     <element name="mapId" nillable="true" type="soapenc:int"/>
     <element name="name" nillable="true" type="soapenc:string"/>
     <element name="sdkFeatures" nillable="true" type="impl:ArrayOf_tns2_SDKFeature"/>
     <element name="url" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="urn:spagobisdkmaps" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bo.maps.sdk.spagobi.eng.it"/>
   <import namespace="http://exceptions.sdk.spagobi.eng.it"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns2_SDKFeature">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:SDKFeature[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_SDKMap">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:SDKMap[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://exceptions.sdk.spagobi.eng.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bo.maps.sdk.spagobi.eng.it"/>
   <import namespace="urn:spagobisdkmaps"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="NotAllowedOperationException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getMapFeaturesResponse">

      <wsdl:part name="getMapFeaturesReturn" type="impl:ArrayOf_tns2_SDKFeature"/>

   </wsdl:message>

   <wsdl:message name="NotAllowedOperationException">

      <wsdl:part name="fault" type="tns3:NotAllowedOperationException"/>

   </wsdl:message>

   <wsdl:message name="getFeatureByIdResponse">

      <wsdl:part name="getFeatureByIdReturn" type="tns2:SDKFeature"/>

   </wsdl:message>

   <wsdl:message name="getFeaturesResponse">

      <wsdl:part name="getFeaturesReturn" type="impl:ArrayOf_tns2_SDKFeature"/>

   </wsdl:message>

   <wsdl:message name="getMapByIdResponse">

      <wsdl:part name="getMapByIdReturn" type="tns2:SDKMap"/>

   </wsdl:message>

   <wsdl:message name="getMapByIdRequest">

      <wsdl:part name="in0" type="soapenc:int"/>

   </wsdl:message>

   <wsdl:message name="getMapsResponse">

      <wsdl:part name="getMapsReturn" type="impl:ArrayOf_tns2_SDKMap"/>

   </wsdl:message>

   <wsdl:message name="getMapFeaturesRequest">

      <wsdl:part name="in0" type="soapenc:int"/>

   </wsdl:message>

   <wsdl:message name="getFeaturesRequest">

   </wsdl:message>

   <wsdl:message name="getFeatureByIdRequest">

      <wsdl:part name="in0" type="soapenc:int"/>

   </wsdl:message>

   <wsdl:message name="getMapsRequest">

   </wsdl:message>

   <wsdl:portType name="MapsSDKService">

      <wsdl:operation name="getMaps">

         <wsdl:input message="impl:getMapsRequest" name="getMapsRequest"/>

         <wsdl:output message="impl:getMapsResponse" name="getMapsResponse"/>

         <wsdl:fault message="impl:NotAllowedOperationException" name="NotAllowedOperationException"/>

      </wsdl:operation>

      <wsdl:operation name="getMapById" parameterOrder="in0">

         <wsdl:input message="impl:getMapByIdRequest" name="getMapByIdRequest"/>

         <wsdl:output message="impl:getMapByIdResponse" name="getMapByIdResponse"/>

         <wsdl:fault message="impl:NotAllowedOperationException" name="NotAllowedOperationException"/>

      </wsdl:operation>

      <wsdl:operation name="getMapFeatures" parameterOrder="in0">

         <wsdl:input message="impl:getMapFeaturesRequest" name="getMapFeaturesRequest"/>

         <wsdl:output message="impl:getMapFeaturesResponse" name="getMapFeaturesResponse"/>

         <wsdl:fault message="impl:NotAllowedOperationException" name="NotAllowedOperationException"/>

      </wsdl:operation>

      <wsdl:operation name="getFeatures">

         <wsdl:input message="impl:getFeaturesRequest" name="getFeaturesRequest"/>

         <wsdl:output message="impl:getFeaturesResponse" name="getFeaturesResponse"/>

         <wsdl:fault message="impl:NotAllowedOperationException" name="NotAllowedOperationException"/>

      </wsdl:operation>

      <wsdl:operation name="getFeatureById" parameterOrder="in0">

         <wsdl:input message="impl:getFeatureByIdRequest" name="getFeatureByIdRequest"/>

         <wsdl:output message="impl:getFeatureByIdResponse" name="getFeatureByIdResponse"/>

         <wsdl:fault message="impl:NotAllowedOperationException" name="NotAllowedOperationException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MapsSDKServiceSoapBinding" type="impl:MapsSDKService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getMaps">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMapsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkmaps" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMapsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkmaps" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="NotAllowedOperationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NotAllowedOperationException" namespace="urn:spagobisdkmaps" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getMapById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMapByIdRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkmaps" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMapByIdResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkmaps" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="NotAllowedOperationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NotAllowedOperationException" namespace="urn:spagobisdkmaps" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getMapFeatures">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMapFeaturesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkmaps" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMapFeaturesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkmaps" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="NotAllowedOperationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NotAllowedOperationException" namespace="urn:spagobisdkmaps" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getFeatures">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFeaturesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkmaps" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getFeaturesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkmaps" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="NotAllowedOperationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NotAllowedOperationException" namespace="urn:spagobisdkmaps" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getFeatureById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFeatureByIdRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkmaps" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getFeatureByIdResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:spagobisdkmaps" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="NotAllowedOperationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NotAllowedOperationException" namespace="urn:spagobisdkmaps" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MapsSDKServiceService">

      <wsdl:port binding="impl:MapsSDKServiceSoapBinding" name="MapsSDKService">

         <wsdlsoap:address location="http://localhost:8080/SpagoBI/sdk/MapsSDKService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
